@use 'variables' as var;

@mixin mobile {
    @media (min-width: var.$mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: var.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: var.$desktop) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: var.$desktopXL) {
        @content;
    }
}

@mixin grid($columns, $gap) {
    display: grid;
    grid-template-columns: repeat($solumns, 1fr);
    gap: $gap;
}