@use 'base/variables' as var;
@use 'base/mixins' as mix;

.festival-about {
    padding: 5rem 0;

    @include mix.tablet { 
        @include mix.grid(2, 5rem);
    }
}

.festival-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;

    @include mix.tablet { 
        margin-top: 0;
    }

    h2 {
        margin-bottom: 2rem;
    }

    .date {
        color: var.$pink;
        font-weight: 700;
    }
}