@use 'base/variables' as var;
@use 'base/mixins' as mix;

.video {
    position: relative;
    max-height: 70rem;
    min-height: 50rem;
    overflow: hidden;

    .overlay {
        position: absolute;
        background: rgb(126,2,195);
        background: linear-gradient(270deg, rgba(126,2,195,0.5) 0%, rgba(255,0,110,0.30) 100%);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    video {
        width: auto;
        display: block;

        @include mix.desktop { 
            width: 100%;
        }
    }
}

.video-content {
    text-align: center;
    padding: 0 5rem;
    
    @include mix.tablet { 
        text-align: left;
        padding: 0 2rem;
    }

    h2 {
        color: var.$white;
        font-size: 7rem;
        margin: 0;
    }

    p {
        background-color: var.$pink;
        display: inline-block;
        padding: 1rem 2rem;
        color: var.$white;
        font-weight: 700;
        font-size: 2.4rem;
        margin: 0;
    }
}